includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - bootstrap
        - config
        - database/factories
        - database/seeders
        - routes
        - tests
    excludePaths:
        - bootstrap/cache/*

    tmpDir: tmp/phpstan
    level: max

    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    reportAlwaysTrueInLastCondition: true
    reportAnyTypeWideningInVarTag: true
    checkMissingOverrideMethodAttribute: true
